body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: purple;
    color: white;
    font-family: Arial;
    margin: 0px; 
}
main {
    font-family: Arial;
    margin: 0px; 
}footer {
    background-color: rgb(32, 178, 44);
    color: black;
    font-family: Arial; 
}
a {
    color: blue;
    text-decoration: none;
    transition: 7s 2s;
}
a:link {
    color:rgb(230, 117, 230);
    text-decoration: underline;
}
a:visited {
    color:rgb(24, 182, 225);
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: rgb(230, 117, 230);
    color: rgb(244, 15, 15);
    font-family: Verdana;
    margin: 0px;
    transition: 0.3s; 
}
a:active {
    color: black;
    opacity: 0.3;
}