body {
    background-color: #f9f8fe;
    color: rgb(113, 0, 128);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
header {
    background-color: rgb(211, 154, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px; 
}
main {
    font-family: Arial;
    margin: 10px 20px 45px; 
}
footer {
    background-color: rgb(211, 154, 255);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: right; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: blue;
    text-decoration: none;
    transition: 7s 2s;
}
a:link {
    color:rgb(230, 117, 230);
    text-decoration: underline;
}
a:visited {
    color:rgb(24, 182, 225);
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: rgb(230, 117, 230);
    color: rgb(244, 15, 15);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    transition: 0.3s; 
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}
div.menu:hover {
   background-color: #ffffff30; 
   box-shadow: 0 0 15px #00000030;
}